table {
	border-collapse: collapse;
}

body,td,th {
	font-size: 9pt;
}

.list {
	border: 1px solid black;
}

.list th {
	border: 1px solid black;
}

.list td {
	border: none;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

thead {
	display: table-header-group;
}

.comment {
	font-size: smaller;
	font-style: italic;
	color: gray;
}

tr {page-break-inside: avoid;}