body {
}

input, select {
}

form {
    display: inline;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
    /*border: 0.6rem double;*/
}

.pagination {
    margin: auto;
    padding: 10px;
    text-align: center;
}

a:link {
    text-decoration: none;
}

.message {
    font-weight: bold;
    color: red;
}

.message:before {
    content: "»";
    margin-right: 6px;
}

.badge {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.help {
    font-size: 0.8em;
    font-style: italic;
}

table {
    width: 100%
}

td {
    padding: 8px;
}

.table-striped tr:nth-child(even), th {
    background: #CCC
}
