{% from "macros.j2" import render_pagination with context %}

{{ render_pagination(hubs_paginated, 'hubs_list', search=form.search.data, forr=form.size.forr) }}

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Type</th>
        <th>OLD</th>
        <th>D<sub>L</sub></th>
        <th>D<sub>R</sub></th>
        <th>W<sub>L</sub></th>
        <th>W<sub>R</sub></th>
        <th>S</th>
    </tr>
    </thead>
    <tbody>
    {% for hub in hubs_paginated.items %}
        <tr>
            <td>{{ hub.id }}
            <td>{{ hub.description }}
                {% if hub.comment %}
                    <div class="comment">{{ hub.comment }}</div>
                {% endif %}
            </td>
            <td>{{ hub.forr_for_display }}</td>
            <td>{{ hub.old }}</td>
            <td>{{ hub.dl }}</td>
            <td>{{ hub.dr }}</td>
            <td>{{ hub.wl }}</td>
            <td>{{ hub.wr }}</td>
            <td>{{ hub.s }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
