{% if rims_paginated.has_prev %}
    <a href="{{ url_for('rims_list', page=rims_paginated.prev_num) }}">« Previous</a>
{% endif %} |
{% if rims_paginated.has_next %}
    <a href="{{ url_for('rims_list', page=rims_paginated.next_num) }}">Next »</a>
{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>ERD</th>
      <th>OSB</th>
      <th>Size (ISO)</th>
    </tr>
  </thead>
  <tbody>
  {% for rim in rims_paginated.items %}
    <tr>
      <td>{{ rim.id }}
      <td>{{ rim.description }}
        {% if rim.comment %}
            <div class="comment">{{ rim.comment }}</div>
        {% endif %}
        </td>
      <td>{{ rim.erd }}</td>
      <td>{{ rim.osb }}</td>
      <td>{{ rim.size_for_display }} ({{ rim.size }})</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
