{% from "macros.j2" import render_pagination with context %}

{{ render_pagination(rims_paginated, 'rims_list', search=form.search.data, size=form.size.data) }}

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>ERD</th>
      <th>OSB</th>
      <th>Size (ISO)</th>
    </tr>
  </thead>
  <tbody>
  {% for rim in rims_paginated.items %}
    <tr>
      <td>{{ rim.id }}
      <td>{{ rim.description }}
        {% if rim.comment %}
            <div class="comment">{{ rim.comment }}</div>
        {% endif %}
        </td>
      <td>{{ rim.erd }}</td>
      <td>{{ rim.osb }}</td>
      <td>{{ rim.size_for_display }} ({{ rim.size }})</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
