New Hub

ID: {{ hub.id }}

{{ form.description.label.text }}: {{ form.description.data }}
{{ form.comment.label.text }}: {{ form.comment.data }}
{{ form.email.label.text }}: {{ form.email.data }}
{{ form.forr.label.text }}: {{ form.forr.data }}

{{ form.s.label.text }}: {{ form.s.data }}
{{ form.old.label.text }}: {{ form.old.data }}

{{ form.dl.label.text }}: {{ form.dl.data }}
{{ form.dr.label.text }}: {{ form.dr.data }}

{{ form.wl.label.text }}: {{ form.wl.data }}
{{ form.wr.label.text }}: {{ form.wr.data }}
