{% extends "layout.html.j2" %}
{% from "macros.j2" import render_pagination with context %}
{% block body %}
    <div class="mui-panel">
        {{ render_pagination(hubs_paginated, 'hubs_list', search=form.search.data, forr=form.size.forr) }}
        <form class="mui-form" method="GET" action="{{ url_for('hubs_list') }}">
            <div class="mui--text-title mui--text-center">
                Filter: {{ g.sform.search(placeholder='hub name', size=30) }} {{ g.sform.forr(**{"onchange":"this.form.submit()"}) }}
            </div>
        </form>
        <table class="mui-table table-striped mui--text-left">
            <thead>
            <tr>
{#                <th>ID</th>#}
                <th>Description</th>
                <th>Type</th>
                <th>OLD</th>
                <th>D<sub>L</sub></th>
                <th>D<sub>R</sub></th>
                <th>W<sub>L</sub></th>
                <th>W<sub>R</sub></th>
                <th>S</th>
            </tr>
            </thead>
            <tbody>
            {% for hub in hubs_paginated.items %}
                <tr>
{#                    <td>{{ hub.id }}#}
                    <td><a href="{{ url_for('wheel_add_hub', hub_id=hub.id) }}">{{ hub.description }}</a>
                        {% if hub.comment %}
                            <div class="comment mui--text-dark-hint">{{ hub.comment }}</div>
                        {% endif %}
                    </td>
                    <td>{{ hub.forr_for_display }}</td>
                    <td>{{ hub.old }}</td>
                    <td>{{ hub.dl }}</td>
                    <td>{{ hub.dr }}</td>
                    <td>{{ hub.wl }}</td>
                    <td>{{ hub.wr }}</td>
                    <td>{{ hub.s }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
