{% extends "layout.html.j2" %}
{% block body %}
    <div class="mui-row">
    <div class="mui-col-md-3"></div>

    <div class="mui-col-md-6">
        <div class="mui-panel mui--text-left">

            <form class="mui-form" method="POST" action="{{ url_for('hubs_add') }}">
                <legend>New Hub</legend>

                <div class="mui-textfield ">
                    {{ form.description.label }}{{ form.description(size=40) }}
                    <div class="dark-hint">{{ form.description.description }}</div>
                </div>

                <div class="mui-textfield">
                    {{ form.comment.label }}{{ form.comment }}
                    <div class="dark-hint">{{ form.comment.description }}</div>
                </div>

                <div class="mui-textfield">
                    {{ form.email.label }}{{ form.email(size=30) }}
                    <div class="dark-hint">{{ form.email.description }}</div>
                </div>

                <div class="mui-select">
                    {{ form.forr }}
                </div>

                <div class="mui-textfield ">
                    {{ form.s.label }}{{ form.s(size=4, placeholder=2.5) }}
                    <div class="help">{{ form.s.description }}</div>
                </div>

                <div class="mui-textfield ">
                    {{ form.old.label }}{{ form.old(size=4, placeholder=100) }}
                    <div class="help">{{ form.old.description }}</div>
                </div>

                <div class="mui-textfield ">
                    {{ form.dl.label }}{{ form.dl(size=4) }}
                </div>

                <div class="mui-textfield ">
                    {{ form.dr.label }}{{ form.dr(size=4) }}
                    <div class="help">{{ form.dl.description }}</div>
                </div>

                <div class="mui-textfield ">
                    {{ form.wl.label }}{{ form.wl(size=4) }}
                </div>

                <div class="mui-textfield ">
                    {{ form.wr.label }}{{ form.wr(size=4) }}
                    <div class="help">{{ form.wl.description }}</div>
                </div>

                {{ form.csrf_token }}
                <div>
                    <input type="submit" value="Submit Hub" class="mui-btn mui-btn--raised">
                </div>
            </form>
        </div>
        <div class="mui-col-md-3"></div>

    </div>
{% endblock %}
