<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wheelbuilder</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta property="og:type" content="website"/>
    {#    <meta property="og:url" content="https://moa.party" />#}
    {#    <meta property="og:title" content="Moa: Mastodon/Twitter Cross-poster" />#}
    {#    <meta property="og:description" content="Moa tweets your toots and vice versa" />#}

    {#    <meta name="twitter:card" content="summary" />#}
    {#    <meta name="twitter:title" content="Moa: Mastodon/Twitter Cross-poster" />#}
    {#    <meta name="twitter:description" content="Moa tweets your toots and vice versa" />#}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="center">
<pre>
          _               _ _           _ _     _
__      _| |__   ___  ___| | |__  _   _(_) | __| | ___ _ __
\ \ /\ / / '_ \ / _ \/ _ \ | '_ \| | | | | |/ _` |/ _ \ '__|
 \ V  V /| | | |  __/  __/ | |_) | |_| | | | (_| |  __/ |
  \_/\_/ |_| |_|\___|\___|_|_.__/ \__,_|_|_|\__,_|\___|_| (2017)
</pre>

    {% for message in get_flashed_messages() %}
        <p class=message>{{ message }}</p>
    {% endfor %}

    {% if show_builder %}
    <form method="post" action="{{ url_for('wheel') }}">
        <table>
            <tr>
                <td><a href="{{ url_for('hubs_list') }}">Select Hub</a></td>
                <td>{{ g.bform.hub_field(**{"oninput":"this.form.submit()"}) }}
                    <a href="{{ url_for('hubs_add') }}">Add Hub</a>
                </td>
            </tr>
            <tr>
                <td><a href="{{ url_for('rims_list') }}">Select Rim</a></td>
                <td>{{ g.bform.rim_field(**{"oninput":"this.form.submit()"}) }}</td>
            </tr>
            <tr>
                <td>Spokes</td>
                <td>{{ g.bform.spoke_field(**{"oninput":"this.form.submit()"}) }}</td>
            </tr>
            <tr>
                <td>Pattern</td>
                <td>{{ g.bform.pattern_field(**{"oninput":"this.form.submit()"}) }}</td>
            </tr>
            <tr>
                <td>Nipple Length</td>
                <td>{{ g.bform.nipple_length_field(**{"oninput":"this.form.submit()"}) }}</td>
            </tr>
        </table>
    </form>

    <table>
        <tr>
            <td>Left: {{ session.lengths[0] }}</td><td>Right: {{ session.lengths[1] }}</td><td>Link to this Build</td><td>Print this Build</td>
        </tr>
    </table>
    <hr>
    {% endif %}

    {% block body %}{% endblock %}

    <hr>
    <p>Created by <a target="_new" href="https://pdx.social/@foozmeat">James Moore</a>.
        Code available on <a target="_new" href="https://github.com/foozmeat/wheelbuilder">Github</a>.</p>
    <p><a href="https://www.patreon.com/bePatron?u=4446349">Become a Patron</a>.</p>

</div>

<div class="badge">
    <a target="_blank" href="https://www.jetbrains.com/pycharm/">
        <img style="image-rendering: pixelated;" src="{{ url_for('static', filename='madewpc.gif') }}">
    </a>
</div>

</body>
</html>
