{% macro render_pagination(pagination, endpoint, search=None, size=None, forr=None) %}
<div class="pagination mui--text-title">

    {% if pagination.has_prev %}
        <a href="{{ url_for(endpoint,
        page=pagination.prev_num,
        search=form.search.data,
        size=form.size.data,
        forr=form.forr.data) }}">« Previous</a>{% else %}« Previous
    {% endif %}

  {%- for page in pagination.iter_pages() %}
      {% if page %}
          {% if page != pagination.page %}
              <a href="{{ url_for(endpoint, page=page, search=form.search.data,
                              size=form.size.data,
                              forr=form.forr.data) }}">{{ page }}</a>
          {% else %}
              <strong>{{ page }}</strong>
          {% endif %}
      {% else %}
          <span class=ellipsis>…</span>
      {% endif %}
  {%- endfor %}

    {% if pagination.has_next %}
        <a href="{{ url_for(endpoint,
        page=pagination.next_num,
                search=form.search.data,
                size=form.size.data,
                forr=form.forr.data) }}">Next »</a>{% else %}Next »
    {% endif %}
</div>
{% endmacro %}
