New Rim

ID: {{ rim.id }}

{{ form.description.label.text }}: {{ form.description.data }}
{{ form.comment.label.text }}: {{ form.comment.data }}
{{ form.email.label.text }}: {{ form.email.data }}

{{ form.size.label.text }}: {{ form.size.data }}
{{ form.erd.label.text }}: {{ form.erd.data }}
{{ form.osb.label.text }}: {{ form.osb.data }}
