{% extends "layout.html.j2" %}
{% block body %}
    <div class="mui-row">
    <div class="mui-col-md-3"></div>

    <div class="mui-col-md-6">
        <div class="mui-panel mui--text-left">

            <form class="mui-form" method="POST" action="{{ url_for('rims_add') }}">
                <legend>New Rim</legend>

                <div class="mui-textfield ">
                    {{ form.description.label }}{{ form.description(size=40) }}
                    <div class="dark-hint">{{ form.description.description }}</div>
                </div>

                <div class="mui-textfield">
                    {{ form.comment.label }}{{ form.comment }}
                    <div class="dark-hint">{{ form.comment.description }}</div>
                </div>

                <div class="mui-textfield">
                    {{ form.email.label }}{{ form.email(size=30) }}
                    <div class="dark-hint">{{ form.email.description }}</div>
                </div>

                <div class="mui-select">
                    {{ form.size.label }}{{ form.size }}
                </div>

                <div class="mui-textfield ">
                    {{ form.erd.label }}{{ form.erd(size=4) }}
                </div>

                <div class="mui-textfield ">
                    {{ form.osb.label }}{{ form.osb(size=4) }}
                    <div class="help">{{ form.osb.description }}</div>
                </div>

                {{ form.csrf_token }}
                <div>
                    <input type="submit" value="Submit Rim" class="mui-btn mui-btn--raised">
                </div>
            </form>
        </div>
        <div class="mui-col-md-3"></div>

    </div>
{% endblock %}
